<div class="modal-wrapper" id="confirm-modal">
    <div class="modal-form-wrapper">
        <div class="modal confirm-modal">
            <div class="modal-header">
                <h2 class="modal-title" id="confirm-modal-title"></h2>
            </div>
            <div class="modal-body">
                <p class="modal-body-text" id="confirm-modal-description"></p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" id="confirm-modal-ok">Ok</button>
                <button class="btn btn-close" id="confirm-modal-cancel">Cancel</button>
            </div>
        </div>
    </div>
</div>